.container{
    background-color: blueviolet;
    height:90vh;
    display: flex;
    flex-direction: row;
}

.item{
    background-color: brown;
    height:400px;
    width: 20%;
    justify-content: center;
}