html {
    height: 100%;
}

body {
    height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
    background-color:  #efefef;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
#root {
    display: flex;
}

.App {
    display: flex;
}

.column {
    height: 100%;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
    height: 100%;
    flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
    width: 15%;
    background-color:  #fff;
}

.top-left {
    flex-shink: 0;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
}

ul {
    display: inline-flex;
    list-style: none;
}

#right .bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
}
#left .bottom a{
    display: block;
    color: #232323;
    padding: 8px 5px 5px 5px !important;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: normal;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#right{
    width: 85%;
   
}


.logo{
    height: 30vmin;
}
.about-me{
    min-height: 98vh;
    background:url("./Me.png"), url("./Me.jpg");
    background-size:cover;
    padding: 10% 0% 0% 12%;
}
.about-me h1,.about-me h3{
    color:#afafaf;
    font-size: 18px;
    line-height: 26px;
}
.about-me h3{
    text-align: center;
    padding: 5px;
    border-top: solid 1px #afafaf;
    border-bottom: solid 1px #afafaf;
    max-width: 250px;
}

.about-me h2{
    color:#fff;
    font-size: 48px;
    line-height: 0.75em;
}
@keyframes br {
0% {
    width: 30%;
    border-bottom: solid 2px #039be5;
}

100%{
    width: 80%;
    border-bottom: solid 2px #039be5;
}
}

.active{ 
    width:80%;
    border-bottom: solid 2px #039be5;
    animation: br 0.75s ease-in-out ;
}
.active:before{ 
    width:400%;
    border-bottom: solid 2px #039be5;
}

a {
    text-decoration: none;
}
#right a{
    text-align: center;
}
.Imglogo{
    width: 250px;
    height: 250px;
    align-content: center;
}

/* .education{
    background-color: orange;
}

.experience{
    background-color:green;
}

.partenariat{
    background-color:goldenrod;
}

.skills {
    background-color:cadetblue;
}
.portfolio{
    background-color:wheat;
}
.reaserch{
    background-color:crimson;
}
.activities{
    background-color:rebeccapurple;
}
.contact{
    background-color:khaki;
}  */

